
.frame .p {
    color: #333333;
    font-family: var(--text-md-regular-font-family);
    font-size: var(--text-md-regular-font-size);
    font-style: var(--text-md-regular-font-style);
    font-weight: var(--text-md-regular-font-weight);
    letter-spacing: var(--text-md-regular-letter-spacing);
    line-height: var(--text-md-regular-line-height);
    opacity: 0.8;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}



.frame .overlap-group {
    height: 310px;
    position: relative;
    top: 6px;
}

.frame .rectangle {
    height: 212px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 296px;
}

.frame .div-2 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 16px;
    left: 16px;
    position: absolute;
    top: 206px;
    width: 262px;
}

.frame .div-3 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 4px;
    position: relative;
}

.frame .iconly-bold-location {
    height: 12px;
    position: relative;
    width: 12px;
}

.frame .text-wrapper-2 {
    color: #8e8e8e;
    font-family: "Lato-Regular", Helvetica;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 0.1px;
    line-height: 14px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.frame .div-4 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 4px;
    position: relative;
}

.frame .text-wrapper-3 {
    color: #333333;
    font-family: var(--text-md-bold-font-family);
    font-size: var(--text-md-bold-font-size);
    font-style: var(--text-md-bold-font-style);
    font-weight: var(--text-md-bold-font-weight);
    letter-spacing: var(--text-md-bold-letter-spacing);
    line-height: var(--text-md-bold-line-height);
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.frame .text-wrapper-4 {
    color: var(--gray-600);
    font-family: var(--text-sm-regular-font-family);
    font-size: var(--text-sm-regular-font-size);
    font-style: var(--text-sm-regular-font-style);
    font-weight: var(--text-sm-regular-font-weight);
    letter-spacing: var(--text-sm-regular-letter-spacing);
    line-height: var(--text-sm-regular-line-height);
    position: relative;
    white-space: nowrap;
    width: fit-content;
}



.frame .span {
    color: #42a7c3;
    font-family: var(--text-sm-bold-font-family);
    font-size: var(--text-sm-bold-font-size);
    font-style: var(--text-sm-bold-font-style);
    font-weight: var(--text-sm-bold-font-weight);
    letter-spacing: var(--text-sm-bold-letter-spacing);
    line-height: var(--text-sm-bold-line-height);
}

.frame .text-wrapper-5 {
    color: #636363;
    font-family: var(--text-sm-regular-font-family);
    font-size: var(--text-sm-regular-font-size);
    font-style: var(--text-sm-regular-font-style);
    font-weight: var(--text-sm-regular-font-weight);
    letter-spacing: var(--text-sm-regular-letter-spacing);
    line-height: var(--text-sm-regular-line-height);
}

.frame .text-wrapper-6 {
    color: #347f90;
    font-family: var(--text-xs-regular-font-family);
    font-size: var(--text-xs-regular-font-size);
    font-style: var(--text-xs-regular-font-style);
    font-weight: var(--text-xs-regular-font-weight);
    letter-spacing: var(--text-xs-regular-letter-spacing);
    line-height: var(--text-xs-regular-line-height);
}

.frame .div-6 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 16px;
    left: 16px;
    position: absolute;
    top: 206px;
    width: 264px;
}

.frame .div-7 {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    gap: 16px;
    left: 16px;
    position: absolute;
    top: 208px;
}

.frame .paket-tiket-pesawat {
    color: #333333;
    font-family: var(--text-md-bold-font-family);
    font-size: var(--text-md-bold-font-size);
    font-style: var(--text-md-bold-font-style);
    font-weight: var(--text-md-bold-font-weight);
    letter-spacing: var(--text-md-bold-letter-spacing);
    line-height: var(--text-md-bold-line-height);
    margin-top: -1px;
    position: relative;
    width: fit-content;
}

.frame .div-8 {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    gap: 16px;
    left: 16px;
    position: absolute;
    top: 206px;
}

