.home {
    display: flex;
    flex-direction: column;
    /* align-items: center;  */
    justify-content: center;
    
  }

.searchContainer{
  display: flex;
  align-items: center;
}

.popular-event-container{
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  margin-top: 20px;
}



.popular-hotspot-container{
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  margin-top: 20px;
}