<<<<<<< HEAD
.spot-card {
    position: relative;
    width: 350px;
    margin-right: 15px;
    aspect-ratio: 16/9;
    background-color: #f2f2f2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 0 5px #ffffff80;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .spot-card svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .spot-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
  }
  
  .spot-card__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .spot-card:hover .spot-card__content {
    transform: rotateX(0deg);
  }
  
  .spot-card__title {
    margin: 0;
    font-size: 20px;
    color: #333;
    font-weight: 700;
  }
  
  .spot-card:hover svg {
    scale: 0;
  }
  
  .spot-card__description {
    margin: 10px 0 10px;
    font-size: 12px;
    color: #777;
    line-height: 1.4;
  }
  
  .spot-card__button {
    padding: 5px;
    border-radius: 8px;
    background: #777;
    border: none;
    color: white;
  }
  
  .view-more {
    width: auto;
    height: auto;
    float: left;
    transition: .5s linear;
    position: relative;
    display: block;
    overflow: hidden;
    padding: 5px;
    text-align: center;
    margin: 0 5px;
    background: transparent;
    text-transform: uppercase;
    font-weight: 900;
  }
  
  .view-more:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    border-bottom: 4px solid transparent;
    border-left: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(100%);
  }
  
  .view-more:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-top: 4px solid transparent;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(-100%);
  }
  
  .view-more:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  
  .view-more:hover:before {
    border-color: #262626;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .3s;
  }
  
  .view-more:hover:after {
    border-color: #262626;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .5s;
  }
  
  button {
    color: black;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    border: none;
    background: transparent;
  }
=======
.list-card {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between; 
    position: relative;
    width: 320px;
}
.overlap-group {
    height: 310px;
    position: relative;
    top: 6px;
}

.rectangle {
    height: 212px;
    left: 0;
    border-radius: 20px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 296px;
}

.div-2 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 0px;
    left: 16px;
    position: absolute;
    top: 206px;
    width: 262px;
}

.div-4 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.text-wrapper-3 {
    color: #333333;
    font-family: var(--text-md-bold-font-family);
    font-size: var(--text-md-bold-font-size);
    font-style: var(--text-md-bold-font-style);
    font-weight: var(--text-md-bold-font-weight);
    letter-spacing: var(--text-md-bold-letter-spacing);
    line-height: var(--text-md-bold-line-height);
    margin-top: 20px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.text-wrapper-4 {
    color: var(--gray-600);
    font-family: var(--text-sm-regular-font-family);
    font-size: var(--text-sm-regular-font-size);
    font-style: var(--text-sm-regular-font-style);
    font-weight: var(--text-sm-regular-font-weight);
    letter-spacing: var(--text-sm-regular-letter-spacing);
    line-height: var(--text-sm-regular-line-height);
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.overlap-group{
    overflow: hidden;
}
.overlap-group .spot-image {
    height: 20px;
    transition: transform 0.3s ease-in-out;
  }
  
  .overlap-group .spot-image:hover {
    transform: scale(1.05);
  }
  
.card {
    -webkit-backdrop-filter: blur(4px) brightness(100%);
    backdrop-filter: blur(4px) brightness(100%);
    background-color: #f0f0f073;
    border: 1px solid;
    border-color: #ffffff;
    border-radius: 16px;
    height: 305px;
    position: relative;
    width: 296px;
}

.join-organize-button{
    display: flex;
    gap: 10px;
}

.join-organize-button button{
    padding: 3px 5px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  
  .join-organize-button button:hover {
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
  
  button:active {
    transform: translateY(-1px);
  }

  
>>>>>>> 98a1db2bea441de136e4cb7c6d43454aa9761ffa
